# Timezone
TZ=Europe/London

# --- Vaultwarden / Postgres ---
PG_USER=vw
PG_PASSWORD=vw_password_base64_encoded
VAULTWARDEN_ADMIN_TOKEN=vw_admin_token_argon2id_encoded
VAULTWARDEN_JWT_SECRET=vw_jwt_secret_base64_encoded

# --- WireGuard ---
WG_SERVERURL=vpn.example.com
WG_SERVERPORT=5555
WG_PEERS=device1,device2
WG_PEERS_EMAILS=email1@example.com,email2@example.com

# --- WireGuard Mailer ---
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_USER=sender@example.com
SMTP_PASS=password_base64_encoded

# --- OctoPrint ---
OCTOPRINT_USER=your_username
OCTOPRINT_PASS=your_password_base64_encoded
